* {
    font-family: "Helvetica", sans-serif;
    color: rgb(235, 235, 235);
    font-weight: lighter;
}

body {
    display: flex;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 500px;
    border-radius: 20px;
}

.row {
    display: flex;
    flex-grow: 1;
}

button {
    flex-grow: 1;
    border-color: rgb(80, 80, 82);
    border-style: solid;
    border-width: thin;
}

.grey {
    background-color: rgb(123, 123, 125);
}

.dark-grey {
    background-color: rgb(97, 97, 99);
}

#display {
    flex-grow: 2;
    background-color: rgb(80, 80, 82);

}

.orange {
    background-color: rgb(242, 163, 60);
}